<%- if flash.any? %>
  <%- flash.keys.each do |flash_key| %>
    <%- next if flash_key.to_s == 'timedout' %>
    <div class="alert alert-<%= flash_key %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.discard(flash_key) %>
    </div>
  <%- end %>
<%- end %>
