<%- if f.error_notification %>
  <div class="alert alert-error fade in">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <div class="error_notification"><%= f.error_notification %></div>
    <%- if f.object.errors[:base].size > 0 %>
      <ul>
        <%- f.object.errors[:base].each do |error| %>
          <li><%= error %></li>
        <%- end %>
      </ul>
    <%- end %>
  </div>
<%- end %>