//= require bootstrap
//= require_self


body
  padding-top: 50px

.main-content
  padding: 40px 15px
  text-align: center

.login-form
  margin: 0 auto
  width: 40%

  .boolean
    text-align: left

